body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lienzo {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background: burlywood;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.component {
    width: 100px;
    height: 100px;
    background: #04aa61;
    display: flex;
    justify-content: center;
    align-items: center;
}
