body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: left;
    gap: 5px;
  }
  
  .box {
    background: #26b879;
    width: 100px;
    height: 100px;
    display: flex;
  }